<html>
    <head>
        %%css%%
    </head>
    <body>
      <div class="out">
        <table class="layout">
          <tr>
            <td>
              <div class="head">
                <div class="title">
                  <div class="logo">
                    <img src="" width="100" alt="Test Flask"/>
                  </div>
                  
                </div>
              </div>
              <div class="body">
                  %%body%%
              </div>
            </td>
          </tr>
        </table>
        <div class="footer">Recibiste este mail porque estás registrado en <a href=""">Test Flask</a></div>
      </div>
    </body>
</html>


